@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@200&family=Inconsolata:wght@300;400&display=swap');

:root {
    --blue: #3a08f1;
    --black:#444;
    --light-color:rgb(108, 107, 107);
    --bg-color:#e6e6e6;
    --border:.1rem solid rgba(0,0,0,.2);
    --box-shadow:.4rem .4rem .5rem rgb(138, 136, 136),
                  -.4rem .4rem .5rem rgb(50, 49, 49);
    --box-shadow-inset:.4rem .4rem 1rem #ccc inset,
                 -.4rem .4rem 1rem #fff inset;
}

* {
    font-family: "Fira", "Helvetica", "sans-serif";
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition: .2s linear;
}

html {
    font-size: 62.5% ;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background: var(--bg-color);
    padding-left: 30rem;
}

body.active {
    --black:#fff;
    --light-color:#ddd;
    --bg-color:#222;
    --border:.1rem solid rgba(0,0,0,.4);
    --box-shadow:.4rem .4rem 1rem #111,
                  -.4rem .4rem 1rem #333;
    --box-shadow-inset:.4rem .4rem 1rem #111 inset,
                 -.4rem .4rem 1rem #333 inset;

}

section {
    min-height: 30vh ;
    padding:1rem;
}

.btn {
    margin-top: 1rem;
    display:inline-block;
    padding:1rem 3.5rem;
    border-right: .5rem;
    font-size: 1.7rem;
    cursor:pointer;
    background: none;
    color:var(--black);
    box-shadow: var(--box-shadow);
}

.btn:hover {
    box-shadow: var(--box-shadow-inset);
    color:var(--blue);
}

.heading {
    text-align: center;
    font-size: 4rem;
    color:var(--black);
    text-transform: uppercase;
    padding-bottom: 2rem;
}

.heading span {
    color:var(--blue);
    text-transform: uppercase;
}

h2{
  text-align: center;
  font-size: 2rem;
  color:var(--black);
  text-transform: uppercase;
  padding-bottom: 2rem;
}

.header {
    position: fixed;
    top:0; left:0;
    z-index:999;
    background: var(--bg-color);
    width: 30rem;
    border-right: var(--border);
    height: 100%;
    padding:2rem;
    text-align: center;
}


.pic img {
    border-radius: 8%;
    margin: 1rem 0;
    border: 1rem solid transparent;
    border-right: 50%;
    height: 18rem;
    width: 20rem;
    box-shadow: var(--box-shadow) ;
}

h3 {
    color:var(--black);
    font-size:2.5rem;
}

.navbar {
    padding-top:1rem;
}

.navbar a {
    display: block;
    margin:1.5rem 0;
    padding: .7rem;
    border-radius: .755rem;
    font-size: 2rem;
    box-shadow: var(--box-shadow);
    color:var(--black);
}

.box {
  flex:1 1 18rem;
  text-align: center;
  padding:2rem;
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
}

.box p {
  font-size: 1.5rem;
  padding: .5rem
}

.navbar a:hover {
    box-shadow: var(--box-shadow-inset);
}

#menu-btn {
    position: fixed;
    top:1.5rem; left: 2rem;
    z-index: 1000;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    border-radius: 50%;
    font-size: 2rem;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    text-align: center;
    color: var(--black);
    display: none;
}

#menu-btn:hover {
    color:var(--blue);
    box-shadow: var(--box-shadow-inset);
}

.home {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.content h3 {
    font-size: 7rem;
    color:var(--black);
    line-height: 1.1;
    text-transform: uppercase;
}

.content p {
    font-size: 2rem;
    color:var(--blue);
    padding-bottom: .5rem;
}


.share {
    position: relative;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    padding: 1rem;
}

.share a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    box-shadow: var(--box-shadow);
    margin:.5rem;
    font-size: 2rem;
    color:var(--black);
    border-radius: .5rem;
}

.share a:hover {
    box-shadow: var(--box-shadow);
    color:var(--blue);
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap:2rem;
}

.row .box-container {
    flex:1 1 40rem;
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.row .box-container .box {
  flex:1 1 18rem;
  text-align: center;
  padding:2rem;
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
}

.row .box-container .box h3 {
    font-size: 3rem;
    color:var(--black);
    line-height: 1.1;
}

.row .box-container .box p {
    font-size: 1.7rem;
    color:var(--light-color);
    padding:.75rem 0;
}


.row .content {
    flex:1 1 40rem;
}

.row .content h3 {
  font-size: 2.5rem;
  color:var(--black);
  line-height: 1.8;
}

.row .content h3 span {
    color:var(--blue);

  }

.row .content p {
    font-size: 2rem;
    color:var(--light-color);
    line-height: 2.1;
    padding:1rem 0;
  }

  .portfolio .box-container {
      display:grid;
      grid-template-columns: repeat(auto-fit,minmax(27rem,1fr));
      gap: 2rem;
  }

  .portfolio .box-container .box {
    height: 25rem;
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: var(--box-shadow);
    position: relative;
    border:1rem solid transparent;
}

.portfolio .box-container .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.portfolio .box-container .box .content {
position: absolute;
top:0; left:0;
height: 100%;
width: 100%;
background: var(--bg-color);
display: grid;
place-items: center;
transform: scale(0);
}

.portfolio .box-container .box:hover .content {
    transform: scale(1);
}

.portfolio .box-container .box .content .h3 {
    font-size: 5rem;
    color:var(--black);
    text-transform: uppercase;
    transform: translateY(-5rem);
    opacity: 0;
    transition-delay: .3s;
}

.portfolio .box-container .box:hover .content .h3 {
    transform: translateY(0rem);
    opacity: 0;
}


/* media queries */
@media (max-width:991px){
    html{
        font-size: 55% ;
    }
    body{
        padding-left: 0;
    }
    .header{
        left: -110%;
    }
    .header.active{
        left:0%;
        transition:.4s linear;
    }
    #menu-btn{
        display:initial;
    }    
}

@media (max-width:450px){
    html{
        font-size: 50% ;
    }
    .header{
        width: 100%;
        border-right: 0;
    }
}